<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<title></title>
<div th:fragment="header">


	<script type="text/javascript"></script>
	
</div>
<body>

	<div th:fragment="menu">
		<meta http-equiv="content-type" content="text/html ; charset=UTF-8">
		<style>
#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
}
</style>
		<div id="header">
			<h3>Tapahtuma-appi</h3>
			<h3 th:inline="text">Tervetuloa
				[[${#httpServletRequest.remoteUser}]]!</h3>
			<form th:action="@{/logout}" method="post">
				<input class="btn btn-danger" type="submit" value="Sign Out" />
			</form>
		</div>
	</div>
</body>


<head>
</html>