<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta http-equiv="content-type" content="text/html ; charset=UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<head>
<style th:fragment="style">
.outer-container {
	display: flex;
	flex-direction: row;
	margin: 10px 0px 10px 0px;
}

.left {
	max-width: 230px;
	margin: 40px 70px 0px 20px;
	background-color: whitesmoke;
	padding: 0px 10px 0px 10px;
	border-radius: 10px;
}

.left * {
	margin-top: 10px;
}

.right {
	margin: 20px 50px 0px 0px;
	width: 80%;
}

.right #haku-otsikko {
	margin-bottom: 30px;
}

#katso_lisaa {
	visibility: hidden;
}

.tr-data:hover #katso_lisaa {
	visibility: visible !important;
}
</style>
<script type="text/javascript">
	
</script>
</head>



<body>
	<div th:replace="header :: menu"></div>

	<div class="outer-container">

		<div th:fragment="filter" class="left">
			<h5>Etsi Hakusanalla</h5>


			<form th:object="${search}" action="#"
				th:action="@{/tulokset/hakusana/}" method="post">
				<input type="text" th:field="*{keyword}" /> <input type="submit"
					class="btn-sm btn-primary" value="Etsi" />
			</form>
			<h5 style="margin-top: 30px;">Kategoriat</h5>
			<th:block th:each="kt : ${kategoriat}">
				<a th:href=@{~/tulokset/kategoria/{nimi}(nimi=${kt.nimi})}
					th:text="${kt.nimi}"></a>
				<br>
			</th:block>
			<h5 style="margin-top: 30px;">Tagit</h5>
			<th:block th:each="tg : ${tagit}">
				<a th:href=@{~/tulokset/tagi/{nimi}(nimi=${tg.nimi})}
					th:text="${tg.nimi}"></a>
				<br>
			</th:block>
		</div>
		<div class="right">
			<div id="haku-otsikko"
				th:if="${filter} !=null and ${keyword} != null">
				<h3 th:text="${filter} +  ': ' + ${keyword}"></h3>
			</div>
			<div class="outer-container">
				<span>Järjestä:&nbsp;</span>
				<div th:if="${filter} !=null and ${keyword} != null">
					<form th:object="${search}" action="#"
						th:action="'/tulokset/'+${filter}+'/'+${keyword}+'/'+sort" method="post">

						<input type="hidden" th:value="${filter}"
							th:attr="filter ='filter'" /> 
							<input type="hidden"
							th:value="${keyword}" th:attr="keyword ='keyword'" /> 
							
							<select
							th:field="*{sortby}" name="sortby"
							onchange='{ this.form.submit();}'>
							<option value="" selected >valitse...</option>
							<option value="paiva">Päivämäärän mukaan</option>
							<option value="aikaleima">Viimeksi lisätyt</option>
							 <!-- <option value="suosio">Suosion mukaan</option>  -->
						</select>
					</form>
				</div>
				<div th:if="${filter} ==null and ${keyword} == null">
					<form th:object="${search}" action="#"
						th:action="@{/sort}" method="post">
						<select th:field="*{sortby}" name='sortby'
							onchange='{ this.form.submit();}'>
							<option value="" selected >valitse...</option>
							<option value="paiva">Päivämäärän mukaan</option>
							<option value="aikaleima">Viimeksi lisätyt</option>
							<option value="suosio">Suosion mukaan</option>
						</select>
					</form>

				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<tr>
						<th>Nimi</th>
						<th>Kategoria</th>
						<th>Paikka</th>
						<th>Päivä</th>
						<th>Hinta</th>
						<th></th>
					</tr>

					<tr class="tr-data" th:each="tp: ${tapahtumat}">

						<td th:text="${tp.name}"></td>
						<td th:text="${tp.kategoria}? ${tp.kategoria.nimi}:''"></td>
						<td th:text="${tp.paikka}"></td>
						<td th:text="${tp.paiva}"></td>
						<td><span th:if="${tp.hinta} > 0"
							th:text="${tp.hinta} + ' €'"></span> <span
							th:unless="${tp.hinta} > 0">Ilmainen</span></td>
						<td><a id="katso_lisaa" class="btn btn-outline-primary"
							th:href=@{/details/{id}(id=${tp.tapahtumaId})}>Avaa</a></td>
					</tr>
				</table>
				<div class="container" id="napit">
					<a style="float: right;" href="/lisaa"><button
							class="btn btn-outline-primary">Lisää tapahtuma</button></a>


				</div>
			</div>


		</div>

	</div>



</body>

</html>
